.App {
  display: grid;
  grid-template-columns: repeat(10, calc(100%/10));
  grid-template-rows: repeat(10, calc(100%/10));
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#header {
  grid-row: 1 / auto;
  grid-column: 1 / span 10;

  background-color: #ffa46c;
}

#menu {
  grid-row: 2 / span 8;
  grid-column: 1 / auto;

  background-color: #80ff9b;
}

#content {
  grid-row: 2 / span 8;
  grid-column: 2 / span 9;

  background-color: #ff81e6;
}

#footer {
  grid-row: -2 / auto;
  grid-column: 1 / span 10;

  background-color: #6a88ff;
}